.section3 {
  position: relative; 
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 700px;
}

.section3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./img/oksford.jpg') no-repeat center;
  background-size: cover;
  filter: grayscale(40%) blur(4px);
  z-index: -1; 
}

.team-text {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1; 
}

.team-text h2 {
  font-size: 2em;
  color: azure;
}

.team-text p {
  font-size: 1.6em;
  line-height: 1.4;
  color: white;
}

.team-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 150px;
  cursor: pointer;
  border-radius: 8px;
  align-self: start;
  margin-left: 150px;
}

.team-button:hover {
  background-color: #378ce8;
}

.team-members {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.team-member img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 8px;
}

.member-name {
  margin-top: 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 50px;
  border-radius: 5px;
}

.team-fon {
  background: rgba(64, 64, 64, 0.8);
  padding: 5px 20px;
  border-radius: 5px;
}

.member-name.top {
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 20px;
  border-radius: 5px;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .section3 {
    flex-direction: column;
    height: auto;
    padding: 10px;
    height: 915px;
  }

  .team-text {
    min-width: unset;
    width: 100%;
    align-items: center;
  }

  .team-text h2 {
    font-size: 1.5em;
    text-align: center;
  }

  .team-text p {
    font-size: 1.2em;
    text-align: center;
  }

  .team-button {
    margin-left: 0;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
  }

  .team-members {
    flex-direction: column;
    gap: 20px; 
    position: relative;
    height: 300px;
  }

  .team-member {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .team-member.active {
    opacity: 1;
  }

  .team-member img {
    max-width: 200px;
    max-height: 200px;
  }

  .member-name {
    padding: 5px 20px;
  }

  .member-name.top {
    top: -80px;
    padding: 5px 10px;
  }
}
